* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-size: 16px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
	color: #359c9c;
	text-decoration: none;
}

.checkbox-hack {
  display: none;
}

.actions {
  margin: 1em;
}

.actions label {
  color: #359c9c;
  cursor: pointer;
}

#mark-all-read {
	float: right;
}

.emails {
  margin: 1em;
}

.emails h2 {
  margin: 1em 0;
}

#select-all:checked ~ .emails ul li:not(.unchecked) {
  background-color: rgba(243, 243, 243, 1);
}

.emails ul li, .emails ul li.unchecked {
  background-color: rgba(243, 243, 243, 0.5);
  border-bottom: solid 1px #e5e5e5;
  display: flex;
  align-items: center;
}

.emails ul li.read {
  background-color: #fff;
}

.emails ul li:first-of-type {
  border-top: solid 1px #e5e5e5;
}

.emails ul li input {
  margin: 0.5em;
}

.emails ul li a {
  padding: 0.5em;
  color: #000;
  width: 90%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.emails ul li a.delete {
  background-image: url('/static/images/trash.png');
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  float: right;
  text-indent: -9999px;
}

.emails ul li a:after {
  content: "";
  background: rgba(22,42,216,0.5);
  display: block;
  position: absolute;
  border-radius: 50%;
  padding-top: 200%;
  padding-left: 200%;
  margin-top: -60%;
  margin-left: -60%;
  opacity: 0;
  transition: all 1s;
}

.emails ul li a:active:after {
  padding-top: 0;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  opacity: 1;
  transition: 0s;
}
